marshmallow>=3
flask~=2.0.2
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
marshmallow-sqlalchemy
python-dotenv~=0.19.2
passlib~=1.7.4
apispec-webframeworks
tox
rdflib~=6.1.1
flask_rdf
requests
PyGithub~=1.55
google~=3.0.0
SQLAlchemy~=1.4.29
Owlready2~=0.35
click~=8.0.3
setuptools==60.6.0
alembic~=1.7.5
apispec[yaml]~=5.1.1